@media (max-width:768px) {
       .address{
           padding-left: 0;
           text-align: center;
       }

       .icon{
        POSITION: relative;
        TOP: 23px;
        RIGHT: 234px;
    }
    .quality {
        top: -13px;
        width: 18rem;
        height: 21rem;
    }
       .quality .card-body h5{
           font-size: 3em;
       }
       .bg-event .card{
        position: relative;
        left: 0px;
        top: 50px;
        height: 40rem; 
    }

    .event{
        height: 65vh !important;
    }

    .bg-event{
        background-position: unset !important;
    }
}